*.exe
*.out
.vscode/ 
inflearn/week5/1201
inflearn/week5/1202
inflearn/week5/14469
inflearn/week5/3273
inflearn/week5/13144
inflearn/week5/1644
inflearn/week5/1700
inflearn/week5/17144
inflearn/week5/14889
inflearn/week5/12100
